body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

p {
    font-family: 'Trebuchet MS'  
}

span {
    margin-top: 3px;
}

h1 {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin: 0;
}

.menu-item .chefe {
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    width: 100%;  
    padding: 0 10px; 
    box-sizing: border-box; 
}

.menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px); 
    box-sizing: border-box;
    transition: transform 0.8s;
}

.error .preparation {
    border: 2px solid red;
    transition: border-color 0.3s ease;
}

.success .preparation {
    border: 2px solid green;
    transition: border-color 0.3s ease;
}

.preparation label.selected {
    color: green;
}

.preparation {
    position: relative;
    border: 1px solid #ccc; /* Borda padrão */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.preparation.error {
    animation: shake 0.5s;
    border-color: red; /* Cor da borda vermelha para indicar erro */
    color: red;
}

.preparation label {
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s; /* Transição suave para a cor do texto */
}

.preparation input[type="radio"]:checked + label {
    color: green; /* Cor do texto verde para indicar sucesso */
    font-weight: bold; /* Texto em negrito quando selecionado */
}

.preparation input[type="radio"]:checked {
    outline: none; /* Remove a borda de foco */
    border-color: green; /* Cor da borda verde para indicar sucesso */
}

/* Efeito de vibração */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.menu-item:hover {
    transform: scale(1.02);
}

.menu-item h2 {
    font-size: 1.5em;
    margin: 0;
}

.menu-item p {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-item span {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    color: #383838;
}

.select-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.select-button:hover {
    background-color: #45a049;
}

.controls {
    display: none;
}

.controls.visible {
    display: block;
}

.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantity button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.quantity .quantity-display {
    margin: 0 10px;
}

.preparation p {
    margin: 10px 0 5px;
}

@media (max-width: 800px) {
    .menu-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 500px) {
    .menu-item {
        width: calc(50% - 20px);
        margin: 10px;  }

    .menu-container {
        padding: 0 5px; 
    }
}

#continue-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

#continue-button:hover {
    background-color: #219d54;
}

#cart {
    position: fixed;
    top: 65px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px; 
    z-index: 1000;
    width: 60px; 
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cart.open {
    width: 300px; 
}

#cart-toggle {
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-counter {
    position: absolute;
    top: 2px;
    left: 2px; 
    background-color: #ff4d4d;
    color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#cart-content {
    display: none;
    margin-top: 10px;
}

#cart.open #cart-content {
    display: block;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}

#cart-items li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
}

#total-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

#prosseguir {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 15px;
}