.error .preparation {
    border: 2px solid red;
    transition: border-color 0.3s ease;
}

.success .preparation {
    border: 2px solid green;
    transition: border-color 0.3s ease;
}

.preparation label.selected {
    color: green;
}

.preparation {
    position: relative;
    border: 1px solid #ccc; /* Borda padrão */
    padding: 10px;
    margin-bottom: 10px;
}

.preparation.error {
    animation: shake 0.5s;
    border-color: red; /* Cor da borda vermelha para indicar erro */
    color: red;
}

.preparation label {
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s; /* Transição suave para a cor do texto */
}

.preparation input[type="radio"]:checked + label {
    color: green; /* Cor do texto verde para indicar sucesso */
    font-weight: bold; /* Texto em negrito quando selecionado */
}

.preparation input[type="radio"]:checked {
    outline: none; /* Remove a borda de foco */
    border-color: green; /* Cor da borda verde para indicar sucesso */
}

/* Efeito de vibração */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
